body {
    background: url(cupheadback.png) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Luckiest Guy', cursive;
}
.headerContainer {
    /*border: 2px solid black;*/
    height: 100px;
}

h1 {
    font-size: 4em;
    margin-top: 25px;
    text-align: center;
}

.statsContainer {
    /*border: 2px solid black;*/
    text-align: center;
    height: 80vh;
    width: 12vw;
    margin-top: 20px;
    display: inline-block;
    vertical-align: top;
}


.insideStatsContainer {
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.75);
    background-color: rgb(255, 211, 52);
}

.label {
    color: black;
}

.games-played, .attempts, .accuracy {
    font-size: 1.7em;
}

.games-played {
    margin-top: 10px;
}

.attempts {
    margin-top: 5px;
}

.accuracy {
    margin-top: 5px;
}

.reset {
    margin-top: 10px;
    margin-bottom: 14px;
    font-size: 1.2em;
    border-radius: 10px;
}

.aboutMe {
    margin-top: 5px;
    margin-bottom: 10px;
}

#game-area {
    /*border: 2px solid black;*/
    height: 80vh;
    min-width: 64vw;
    margin-top: 20px;
    display: inline-block;
}

.card {
    /*height: 180px;*/
    /*width: 130px;*/
    /*border: 1px solid crimson;*/
    height: 29%;
    width: 14%;
    display: flex;
    justify-content: space-around;
    margin-right: 15px;
    float: left;
    position: relative;
    margin-bottom: 15px;
    border-radius: 8px;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform .3s linear 0s;
}

.front, .back {
    height: 100%;
    width: 100%;
    position: absolute;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.75);

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front {
    transform: perspective( 800px ) rotateY( 180deg );
    -webkit-transform: perspective( 800px ) rotateY( 180deg );
    -moz-transform: perspective( 800px ) rotateY( 180deg );
    -o-transform: perspective( 800px ) rotateY( 180deg );
}

.transformBack {
    transform: perspective( 800px ) rotateY( 180deg );
    -webkit-transform: perspective( 800px ) rotateY( 180deg );
    -moz-transform: perspective( 800px ) rotateY( 180deg );
    -o-transform: perspective( 800px ) rotateY( 180deg );
}

.disableClick {
    pointer-events: none;
}