body {
    background: url(cupheadback.png) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Luckiest Guy', cursive;
}
.headerContainer {
    /*border: 2px solid black;*/
    height: 100px;
}

h1 {
    font-size: 4em;
    margin-top: 25px;
    text-align: center;
}

.statsContainer {
    /*border: 2px solid black;*/
    text-align: center;
    height: 80vh;
    width: 12vw;
    margin-top: 20px;
    display: inline-block;
    vertical-align: top;
}


.insideStatsContainer {
    border: 2px solid black;
    border-radius: 8px;
}

.label {
    color: black;
}

.games-played, .attempts, .accuracy {
    font-size: 1.7em;
}

.games-played {
    margin-top: 10px;
}

.attempts {
    margin-top: 5px;
}

.accuracy {
    margin-top: 5px;
}

.reset {
    margin-top: 10px;
    margin-bottom: 14px;
    font-size: 1.2em;
    border-radius: 10px;
}

.aboutMe {
    margin-top: 5px;
    margin-bottom: 10px;
}

#game-area {
    /*border: 2px solid black;*/
    height: 80vh;
    min-width: 64vw;
    margin-top: 20px;
    display: inline-block;
}

.card {
    /*height: 180px;*/
    /*width: 130px;*/
    /*border: 1px solid crimson;*/
    height: 29%;
    width: 14%;
    display: flex;
    justify-content: space-around;
    margin-right: 15px;
    float: left;
    position: relative;
    margin-bottom: 15px;
}

.front, .back {
    height: 100%;
    width: 100%;
    position: absolute;
    border: 2px solid black;
    border-radius: 8px;
}

