body {
    background: url(images/cupheadback.png) no-repeat center fixed;
    background-size: cover;
    font-family: 'Luckiest Guy', cursive;
    display: flex;
}

#reset, .settings {
    font-family: 'Luckiest Guy', cursive;
}

#reset:hover {
    cursor: pointer;
}

.container {
    width: 84vw;
    margin: 5px auto;
}

h1 {
    font-size: 3em;
    text-align: center;
    margin: 10px auto;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

.statsContainer {
    text-align: center;
    height: 80vh;
    width: 15%;
    margin-top: 20px;
    float: left;
}

.insideStatsContainer {
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.75);
    background-color: rgb(255, 211, 52);
}

.label {
    color: black;
}

.games-played, .attempts, .accuracy {
    font-size: 1.4em;
}

.games-played {
    margin-top: 15px;
}

.attempts {
    margin-top: 10px;
}

.accuracy {
    margin-top: 10px;
}

#reset {
    margin-top: 15px;
    font-size: 1.1em;
    border-radius: 10px;
}

.settings {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.1em;
    border-radius: 10px;
}

.aboutMe {
    margin-top: 5px;
    margin-bottom: 10px;
}

#game-area {
    height: 80vh;
    width: 82%;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.card {
    height: 30%;
    width: 14%;
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
    position: relative;
    margin-bottom: 15px;
    border-radius: 8px;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform .3s linear 0s;
}

.hover:hover {
    cursor: pointer;
    transform:scale(1.05, 1.05);
    transition: transform .2s linear 0s;
}

.front, .back {
    height: 100%;
    width: 100%;
    position: absolute;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.75);

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front {
    transform: perspective( 800px ) rotateY( 180deg );
    -webkit-transform: perspective( 800px ) rotateY( 180deg );
    -moz-transform: perspective( 800px ) rotateY( 180deg );
    -o-transform: perspective( 800px ) rotateY( 180deg );
}

.transformBack {
    transform: perspective( 800px ) rotateY( 180deg );
    -webkit-transform: perspective( 800px ) rotateY( 180deg );
    -moz-transform: perspective( 800px ) rotateY( 180deg );
    -o-transform: perspective( 800px ) rotateY( 180deg );
}

.matchedCardGlow {
    -webkit-animation-name: cardGlow;
    -webkit-animation-duration: 2s;
    animation-name: cardGlow;
    animation-duration: 2s;
}

@keyframes cardGlow {
    50% {box-shadow: 0px 0px 19px 3px rgba(45,189,38,1);}
}

.disableClick {
    pointer-events: none;
}

.screenTooSmall {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*background-color: rgb(0,0,0);*/
    background: url(images/bones.gif) no-repeat center;
    background-size: cover;
}
.brokenContent {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.aboutMeModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.aboutMeContent {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: ghostwhite;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 8px;
    box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.75);
}

.aboutTitle {
    margin-top: 10px;
    text-align: center;
}

.aboutMeContent>img {
    float: left;
    width: 20%;
    margin-right: 20px;
    margin-bottom: 10px;
}

.skills {
    font-weight: bold;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.winnerModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.winnerContent {
    display: flex;
    justify-content: center;
    align-items:flex-end;
    background: url(images/winnerGif.gif) no-repeat center;
    background-size: cover;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.75);
    width: 50%;
    height: 50%;
}

.winnerContent>p {
    color: rgb(255, 211, 52);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    font-size: 2.5em;
    border-radius: 10px;
    margin-bottom: 35px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.aboutMe>span:hover {
    cursor: pointer;
    color: cadetblue;
}

.aboutMe>span {
    color: darkcyan;
}

.showModal {
    display: block;
}

@media screen and (max-width: 1109px) and (min-width: 821px){
    .games-played, .attempts, .accuracy, .aboutMe {
        font-size: 1em;
    }
    #game-area {
        width: 82%;
        margin-left: 10px;
    }
    h1{
        font-size: 2.5em;
    }
    #reset, .settings {
        font-size: .8em;
    }
    .card {
        height: 29%;
        width: 13.8%;
        margin-right: 15px;
    }
}

@media screen and (max-width: 820px) {
    .container {
        width: 100%;
    }
    .statsContainer {
        width: 15%;
    }
    #game-area {
        width: 82%;
        margin-left: 10px;
    }
    h1{
        font-size: 2em;
        margin: 0;
    }
    .games-played, .attempts, .accuracy, .aboutMe {
        font-size: .8em;
    }
    #reset, .settings {
        font-size: .6em;
    }
    .card {
        height: 29%;
        width: 13.8%;
        margin-right: 15px;
    }
}

@media screen and (max-width: 652px) {
    .card {
        height: 28%;
        width: 12.8%;
        margin-right: 15px;
    }
}

@media screen and (max-width: 639px) {
    .screenTooSmall {
        display: block;
    }
}