* {
    box-sizing: border-box;
}
body {
    background: url(images/cupheadback.png) no-repeat center fixed;
    background-size: cover;
    font-family: 'Luckiest Guy', cursive;
    display: flex;
}
#reset, .settings {
    font-family: 'Luckiest Guy', cursive;
}
#reset:hover {
    cursor: pointer;
}
.hideOnMobile {
    display: none;
}
h1 {
    font-size: 7.5vmin;
    letter-spacing: 1px;
    text-align: center;
    margin: 10px 0;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}
.statsContainerMobile {
    display: flex;
    margin: 0 auto;
    font-size: 4vmin;
    padding: 8px 0;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 
                0 6px 6px rgba(0,0,0,0.23);
}
.statsContainerMobile .games-played,
.statsContainerMobile .attempts,
.statsContainerMobile .accuracy {
    flex-grow: 1;
}
.label, .value {
    text-align: center;
}
.btnContainer {
    text-align: center;
    padding-left: 10px;
    padding-right: 5px;
}
#reset {
    border-radius: 10px;
    font-size: 4vmin;
    padding: 4px 6px;
}
#game-area {
    width: 100%;
    margin: 20px auto;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
}
.card {
    width: 23%;
    margin: 0 1%;
    position: relative;
    margin-bottom: 15px;
    border-radius: 8px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform .3s linear 0s;
}
.hover:hover {
    cursor: pointer;
    transform:scale(1.05, 1.05);
    transition: transform .2s linear 0s;
}
.front, .back {
    width: 100%;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.75);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.front {
    position: absolute;
    top: 50%;
    transform: perspective( 800px ) rotateY( 180deg );
    -webkit-transform: perspective( 800px ) rotateY( 180deg ) translateY(-50%);;
    -moz-transform: perspective( 800px ) rotateY( 180deg ) translateY(-50%);;
    -o-transform: perspective( 800px ) rotateY( 180deg )translateY(-50%);;
}
.transformBack {
    transform: perspective( 800px ) rotateY( 180deg );
    -webkit-transform: perspective( 800px ) rotateY( 180deg );
    -moz-transform: perspective( 800px ) rotateY( 180deg );
    -o-transform: perspective( 800px ) rotateY( 180deg );
}
.matchedCardGlow {
    -webkit-animation-name: cardGlow;
    -webkit-animation-duration: 2s;
    animation-name: cardGlow;
    animation-duration: 2s;
}
@keyframes cardGlow {
    50% {box-shadow: 0px 0px 19px 3px rgba(45,189,38,1);}
}
.disableClick {
    pointer-events: none;
}
.aboutMe>span:hover {
    cursor: pointer;
    color: cadetblue;
}
.aboutMe>span {
    color: darkcyan;
}
.hideImg {
    display: none;
}



.aboutMeModal {
    font-size: 3.5vmin;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.aboutMeContent {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: ghostwhite;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    /*width: 50%;*/
    border-radius: 8px;
    box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.75);
}
.aboutTitle {
    margin-top: 10px;
    text-align: center;
}
.aboutMeContent>img {
    float: left;
    width: 20%;
    margin-right: 20px;
    margin-bottom: 10px;
}
.skills {
    font-weight: bold;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.winnerModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.winnerContent {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: url(images/winnerGif.gif) no-repeat center;
    background-size: cover;
    margin: 50% auto;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.75);
    width: 320px;
    height: 200px;
}
.winnerContent>p {
    color: rgb(255, 211, 52);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    font-size: 7vmin;
    border-radius: 10px;
    margin-bottom: 35px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.showModal {
    display: block;
}


@media screen and (min-width: 376px) {
    h1 {
        font-size: 7vmin;
    }

    .statsContainerMobile {
        width: 86%;
    }

    #reset, .statsContainerMobile {
        font-size: 3.5vmin;
    }

    #game-area {
        width: 90%;
    }

    .card {
        width: 23%;
    }

    .winnerContent {
        margin: 30% auto;
        width: 90%;
        height: 30%;
    }

    .aboutMeModal {
        font-size: 3vmin;
    }

    .aboutMeContent {
        width: 70%;
    }
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 7vmin;
    }

    .statsContainerMobile {
        width: 70%;

    }

    #reset, .statsContainerMobile {
        font-size: 3vmin;
    }

    #game-area {
        width: 90%;
    }

    .card {
        width: 23%;
    }

    .winnerContent {
        margin: 15% auto;
        width: 90%;
        height: 50%;
    }

    .hideImg {
        display: block;
    }

    .aboutMeModal {
        font-size: 2.5vmin;
    }
}

@media screen and (min-width: 900px) {
    #game-area {
        width: 90%;
    }

    .card {
        width: 18%;
    }

    .winnerContent {
        margin: 15% auto;
        width: 90%;
        height: 60%;
    }
}

@media screen and (min-width: 1024px) {
    h1 {
        margin-top: 15px;
    }

    .statsContainerMobile {
        width: 12%;
        float: left;
        display: flex;
        flex-direction: column;
        margin-top: 14px;
        margin-left: 2%;
        padding: 8px 0;
        border: 2px solid black;
        border-radius: 8px;
        box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.75);
    }

    #reset, .statsContainerMobile {
        font-size: 1.2rem;
    }

    #reset {
        margin-bottom: 2%;
    }

    .attempts {
        margin-top: 5%;
    }

    .btnContainer {
        margin-bottom: 5%;
        padding: 0;
    }

    .games-played, .attempts, .accuracy {
        margin-bottom: 7%;
    }

    #game-area {
        width: 85%;
    }

    .card {
        width: 12%;
    }

    .winnerContent {
        margin: 8% auto;
        width: 50%;
        height: 55%;
    }
}